<!DOCTYPE html>
<html>
<head>
    <title>Admin signup</title>
  <link rel="stylesheet" href="../../../static/css/admin_css/admin_signup_css.css">
</head>
<body>


        {% csrf_token %}

    <div class="container">
        <h2>Admin Signup</h2>
        <form action="{% url 'admin_signin'%}" method="post">
          <input type="text" name="first_name" >First Name
          <input type="text" name="last_name">Last Name
          <input type="text" name="admin_id">Admin ID
            <input type="text" name="username" placeholder="Username" required>create Username
            <input type="password" name="password" placeholder="Password" required>Set password
          <input type="password" name="conform_password" placeholder=" Conform_Password" required>Conform Password
          <input type="text" name="email" >Enter E-mail Id
          <input type="text" name="phno" >Enter Phone Number
            <!-- Add more input fields for additional signup information -->
            <button type="submit">Sign Up</button>
        </form>


        <p>Already have an account? <a href="{% url 'admin_signin' %}">Login</a></p>
    </div>
</body>
</html>
</title>
</head>
<body>

</body>
</html>